html,body{
    margin: 0;
    padding: 0;
}
body{
    background: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#form-wrapper{
    margin: 7em auto;
  }
  

  form{
      background: #ccc;
      width: 60%;
      padding: 1em;
      display: block;
      height: 70vh;
      text-align: center;
      margin: 0 auto;
      border-radius: .3em;
  }

  #form-content{
      text-align: center;
  }

  label{
    display: block;
    font-size:1.5em;
    margin-bottom: 1em;
  }

  input{
    display: block;
    box-sizing: border-box;
    width:100%;
    font-size: 1.5em;
    padding: .7em;
    background: #eee;
    border: none;
    border-bottom: 4px solid grey;
    outline: none;
    margin-bottom: 1em;
    text-align:center;
}

button{
    padding: .3em;
    width:30%;
    font-size: 1.5em;
    background: transparent;
    border: 2px solid grey;
    border-radius: 4px;
    color:grey;
    outline: none;
    transition: .7s;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover{
    background: #aaa;
    color: #eee;
}
